.section-booksSpecial {
    padding: 100px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.booksSpecial-hero {
    position: relative;
    height: 290px;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    background-image: url('../../assets/img/campaignSpecial/intro-campaignSpecial.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center 42%;
}
  
.booksSpecial-overlay {
    background-color: rgba(0, 0, 0, 0.651);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.booksSpecial-title {
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
}
  
.booksSpecial-title h1 {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    margin: 10px 0px 40px 0px;
}

.booksSpecial-title h2 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    margin: 0;
}
  
.booksSpecial-title p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 5px;
}

.booksSpecial-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 18px;
    margin-bottom: 10px;
}

.text-loading-image {
    height: 40vh;
    color: var(--color-primary);
}

.booksSpecial-photo-all {
    width: 294px;
    height: 294px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}
  
.booksSpecial-photo-horizontal {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center top;
    user-select: none;
    -webkit-user-drag: none;
    transition: transform 0.4s ease-in-out;
}

.booksSpecial-photo-all:hover .booksSpecial-photo-horizontal {
    transform: scale(1.08);
  }

.image-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.popup-image {
    max-width: 100%;
    max-height: 80%;
}

.close-btn-image {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #FFA590;
    color: #363636;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 5px 10px;
}

.nav-btn-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #56413E;
    color: #FFF1D7;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

.nav-btn-image.left {
    left: 20px;
}

.nav-btn-image.right {
    right: 20px;
}

.close-btn-image:hover {
    background: #ffa490d5;
}

.nav-btn-image:hover {
    background: #57423ec4;
}

.booksSpecial-panel > div {
    display: grid;
    gap: 10px;
    justify-content: center;
}

/* Responsivo para mobile */
@media (max-width: 768px) {

    .section-booksSpecial {
        padding: 60px 0px 0px 0px;
    }

    .booksSpecial-hero {
        height: 150px;
        width: 100%;
    }
    
    .booksSpecial-title h1{
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        margin: 15px 0px 15px 0px;
    }

    .booksSpecial-title h2{
        font-size: 1rem;
        letter-spacing: 0.2rem;
    }
    
    .booksSpecial-title p {
        font-size: 0.8rem;
    }

    .text-loading-image {
        height: 60vh;
    }

    .booksSpecial-photo-all {
        width: 180px;
        height: 180px;
    }
      
    .booksSpecial-photo-horizontal {
        width: 180px;
        height: 180px;
    }

    .popup-image {
        max-width: 84%;
        max-height: 100%;
    }

    .book-panel {
        margin-bottom: 0px;
    }
    
    .booksSpecial-panel > div {
        display: grid;
        gap: 10px;
        justify-content: center;
    }
}

@media (min-width: 1343px) {
    .section-booksSpecial {
        padding: 90px 20px 0px 20px;
    }
}

@media (min-width: 2560px) {

    .booksSpecial-hero {
        height: 50vh;
    }

    .booksSpecial-title h1 {
        font-size: 3.5rem;
        letter-spacing: 0.2rem;
        margin: 20px 0px 60px 0px;
    }
    
    .booksSpecial-title h2 {
        font-size: 2rem;
        letter-spacing: 0.1rem;
        margin: 0;
    }
      
    .booksSpecial-title p {
        font-size: 1.2rem;
        font-weight: 300;
        margin-top: 5px;
    }
}