/* Espaço para variaveis de cores */

:root {
    --background-primary: #E5CBB4;
    --background-secondary: #FFA590;
    --background-footer: #363636;
    --background-footer-hover: #505050;


    /* Cores fontes */
    --color-primary: #56413E;
    --color-secundary: #FFF1D7;

    --color-primary-hover: #1C090B;
    --color-secundary-hover: #FFA590;

    /* Cores botões */
    --background-button-simple: #56413E;
    --background-button-simple-hover: #3b2a28;

    --color-button-simple: #56413E;
}