.footer-container {
    background-color: var(--background-footer);
    width: 100%;
    height: 220px;
    margin-top: 30px;
}

.footer-container img {
    height: 60px;
    margin-left: 60px;
    margin-top: 20px;
    user-select: none;
    -webkit-user-drag: none;
}

.footer-awards {
    margin-left: 50px;
}

.footer-awards img{
    margin-left: 0;
}

.footer-copy {
    text-align: center;
    color: var(--color-secundary);
    font-weight: 100;
}

/* Responsivo para mobile */
@media (max-width: 768px) {

    .footer-container {
        background-color: var(--background-footer);
        width: 100%;
        height: 210px;
        margin-top: 30px;
    }
    
    .footer-container img {
        height: 40px;
        margin-left: 30px;
        margin-top: 30px;
    }
    
    .footer-awards {
        margin-left: 25px;
        margin-top: -10px;
    }
    
    .footer-awards img{
        margin-left: 0;
    }
    
    .footer-copy {
        text-align: center;
        color: var(--color-secundary);
        font-weight: 100;
        font-size: 0.8rem;
        margin-top: 30px;
    }

}