.footer-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    background-color: var(--background-footer);
}

.footer-header {
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 40px 0px;
}

.footer-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-img {
    height: 50px;
    user-select: none;
    -webkit-user-drag: none;
}

.footer-copy {
    color: var(--color-secundary);
    font-weight: 100;
    font-size: 0.7rem;
    margin: -8px 0px 0px -3px;
}

.footer-subtext {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 0px;
    color: var(--color-secundary);
}

.social-contact {
    display: flex;
    gap: 15px;
}

.footer-text {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 0.1rem;
    color: var(--color-secundary);
}

.footer-created {
    color: #fff;
    font-size: 13px;
    padding: 10px 0px 20px 0px;
    margin: 0px;
}

.footer-link {
    text-decoration: underline;
    color: #fff;
    font-size: 13px;
}

.footer-link:hover {
    text-decoration: underline;
    color: #e9e8e8;
}

@media (max-width: 768px) {

    .footer-img {
        height: 35px;
        margin: 0px;
    }
    
    .footer-copy {
        font-size: 0.6rem;
    }

    .footer-subtext {
        font-size: 15px;
        margin-top: 20px;
        max-width: 220px;
    }

    .footer-text {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
        letter-spacing: 0rem;
    }
}